<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wHealth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WHealthApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_art"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_art"
        android:supportsRtl="true"
        android:theme="@style/Theme.WHealth">

        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.login.LoginActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.WHealth.NoActionBar" />
        <activity android:name=".activities.forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.updateprofile.UpdateProfileActivity"></activity>
        <activity android:name=".activities.register.RegisterActivity"></activity>
        <activity android:name=".activities.clinicrequest.ClinicProfileActivity"></activity>



    </application>

</manifest>